Flask==3.0.3
gunicorn==23.0.0
Werkzeug==3.0.3
dash~=2.18.2
numpy~=1.26.3
tqdm~=4.66.1
scipy~=1.11.4
numba~=0.58.1
pandas~=2.1.4
scikit-learn~=1.4.0
ray~=2.9.2
matplotlib~=3.8.2
seaborn~=0.13.1
setuptools~=68.2.2
met-brewer~=1.0.2
